body{
  background-image: url(../images/background.jpg);
  background-size: cover;
}
.container-fluid {
  margin: 0 auto;
  width: 960px;
}
.lobster{
  font-family: 'Lobster', cursive;
}
.lobster>h1{
  font-size: 60px;
}
.jumbotron{
  background:rgba(255,255,255,0.5);
}
.services img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}